*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

}
.page-section {
    margin-top: 120px;
  }
  
  .section-heading {
    position: relative;
    z-index: 2;
  }
  
  
  .section-heading h6 {
    font-size: 15px;
    font-weight: 700;
    color: #82cc53;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  
  .section-heading h4 {
    color: #2a2a2a;
    font-size: 35px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 25px;
    text-decoration: none;
  }
  
  .section-heading h4 em {
    font-style: normal;
    color: #82cc53;
  }
/* 
---------------------------------------------
header
--------------------------------------------- 
*/
.nav{
    height: 60px;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.03);
}

#navbarNav ul li a{
    font-size: 17px;
    font-weight: 500;
    color: black;

}
#navbarNav ul li:hover a{
    color: #198754;
}


/* 
---------------------------------------------
home
--------------------------------------------- 
*/
.border-first-button a {
    display: inline-block;
    padding: 10px 20px;
    color:  #82cc53;
    text-decoration: none;
    border: 2px solid #82cc53 ;
    border-radius: 23px;
    font-weight: 500;
    letter-spacing: 0.3px;
    transition: all .5s;
  }
  
  .border-first-button a:hover {
    background-color: #198754;
    color: #fff;
  }

  .main-banner {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 100px 0px 120px 0px;
    position: relative;
    overflow: hidden;
  }

  
  .main-banner:before {
    content: '';
    background-image: url(/image/slider-right-dec.jpg);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 60px;
    width: 1159px;
    height: 797px;
    z-index: -1;
  }
  
  .main-banner .left-content {
    margin-right: 15px;
  }
  
  .main-banner .left-content h6 {
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 700;
    color: black;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  .main-banner .left-content h2 {
    z-index: 2;
    position: relative;
    font-weight: 700;
    font-size: 50px;
    color: #82cc53;
    margin-bottom: 20px;
  }
  
  .main-banner .left-content p {
    margin-bottom: 30px;
    margin-right: 45px;
  }
  
  .main-banner .right-image {
    text-align: right;
    position: relative;
    z-index: 20;
  }
  
  .main-banner .right-image img {
    max-width: 593px;
  }
.marketing {
    height: 90%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.marketing .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing .col-lg-4 p{
    font-size: 17px;
}
.marketing .col-lg-4 .rounded-circle {
    border-radius: 50%!important;
}
.marketing .col-lg-4 img {
    vertical-align: middle;
    border-style: none;
}
.section-title {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #82cc53;
    font-weight: 700;
    padding-bottom: 50px;
}
.section-title b {
    display: block;
    flex: 1;
    height: 2px;
    opacity: .3;
    background-color: currentColor;
}


/*accordion*/
#accordion1{
  min-height: 10%;
  padding-bottom: 5%;
}

/* 
---------------------------------------------
Services Style
--------------------------------------------- 
*/

.services {
  padding-top: 130px;
  position: relative;
}

.services:after {
  content: '';
  background-image: url(../images/services-left-dec.jpg);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0px;
  width: 786px;
  height: 1217px;
  z-index: 0;
}

.services:before {
  content: '';
  background-image: url(../images/services-right-dec.jpg);
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 400px;
  width: 161px;
  height: 413px;
  z-index: 0;
}

.services .section-heading {
  text-align: center;
  margin-bottom: 80px;
}

.services .section-heading .line-dec {
  margin: 0 auto;
}

.services .naccs {
  position: relative;
  z-index: 1;
}

.services .icon {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.services .naccs .menu div h4 {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
}

.services .icon img {
  margin-bottom: 10px;
  max-width: 60px;
  min-width: 60px;
}

.services .naccs .menu {
  text-align: center;
  margin-bottom: 30px;
}

.services .naccs .menu div {
  color: #2a2a2a;
  margin: 0px;
  width: 15%;
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-radius: 15px;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.services .naccs .menu div .thumb {
  display: inline-block;
  width: 100%;
  padding: 30px 0px;
  background-color: #C9F4AA;
}

.services .naccs .menu div.active {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
}

.services ul.nacc {
  height: 100% !important;
  position: relative;
  min-height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.services ul.nacc li {
  opacity: 0;
  transform: translateX(-50px);
  position: absolute;
  list-style: none;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.services ul.nacc li.active {
  transition-delay: 0.3s;
  position: relative;
  z-index: 2;
  opacity: 1;
  transform: translateX(0px);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  background-color: #fff;
  border-radius: 15px;
  padding: 80px 120px 50px 120px;
}

.services ul.nacc li {
  width: 100%;
}

.services ul.nacc li .right-image img {
  max-width: 420px;
  float: right;
}

.services .nacc .thumb h4 {
  color: #2a2a2a;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 25px;
}

.services .nacc .thumb .main-white-button {
  text-align: right;
  margin-top: 40px;
}

.services .nacc .thumb .main-white-button a {
  background-color: #8d99af;
  color: #fff;
}

.services .nacc .thumb .main-white-button a i {
  background-color: #fff;
  color: #8d99af;
}

.services .left-text h4 {
  font-size: 20px;
  font-weight: 700;
  color: #82cc53 !important;
}

.services .left-text p {
  margin-bottom: 30px;
}

.nacc .ticks-list span {
  display: inline-block;
  opacity: 1;
  margin-right: 45px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 400;
}
/* 
---------------------------------------------
About Us
--------------------------------------------- 
*/

.our-portfolio {
    padding-top: 130px;
    overflow: hidden;
    position: relative;
  }
  .our-portfolio .section-heading {
    margin-bottom: 80px;
  }
  .our-portfolio .section-heading h6{
    font-size: 30px;
  }
  .our-portfolio .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    z-index: 2;
  }
  
  .our-portfolio .item {
    position: relative;
    z-index: 222;
  }
  
  .portfolio-item {
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    margin: 15px;
  }
  
  .portfolio-item .thumb {
    position: relative;
    border-radius: 50px;
  }
  
  .portfolio-item:hover .down-content h4,
  .portfolio-item:hover .down-content span {
    color:#82cc53;
  }
  
  .portfolio-item .thumb img {
    border-top-right-radius: 23px;
    border-top-left-radius: 23px;
    overflow: hidden;
  }
  
  .portfolio-item .down-content {
    background-color: #fff;
    text-align: center;
    padding: 18px 0px;
    border-bottom-right-radius: 23px;
    border-bottom-left-radius: 23px;
  }
  
  .portfolio-item .down-content h4 {
    font-size: 20px;
    font-weight: 700;
    color: #2a2a2a;
    margin-bottom: 8px;
    transition: all .3s;
    text-decoration: none;
  }
  
  .portfolio-item .down-content span {
    font-size: 15px;
    color: #afafaf;
    transition: all .3s;
    text-decoration: none;
  }
  
  .our-portfolio .owl-nav {
    display: inline-block!important;
    position: absolute;
    top: -125px;
    right: 15%;
    max-width: 1320px;
  }
  
  .our-portfolio .owl-nav .owl-next {
    margin-left: 10px;
  }
  
  .our-portfolio .owl-nav span {
    width: 46px;
    height: 46px;
    display: inline-block;
    text-align: center;
    line-height: 46px;
    font-size: 30px;
    background-color: #eee;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s;
  }
  
  .our-portfolio .owl-nav span:hover {
    color: #fff;
    background-color: #82cc53;
  }
/*--table--*/
html,
body,
.intro {
  height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card {
  border-radius: .5rem;
}

.mask-custom {
  background: rgba(24, 24, 16, .2);
  border-radius: 2em;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

/* 
---------------------------------------------
contact
--------------------------------------------- 
*/

.contact-us {
    padding-top: 130px;
  }
  
  .contact-us .section-heading .line-dec {
    margin: 0 auto;
  }
  
  .contact-us .section-heading {
    text-align: center;
    margin-bottom: 80px;
  }
  
  
  form#contact:before {
    background-image: url(../images/contact-top-right-v2.png);
    position: absolute;
    right: 0;
    top: 0;
    width: 726px;
    height: 78px;
    background-repeat: no-repeat;
    content: '';
    z-index: 1;
  }
  
  .contact-dec img {
    max-width: 224px;
    position: absolute;
    right: 25px;
    top: -242px;
  }
  
  form#contact {
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    position: relative;
    background-color: #fff;
    border-radius: 23px;
    text-align: center;
  }
  
  form#contact #map iframe {
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    margin-bottom: -7px;
    position: relative;
    z-index: 2;
  }
  
  .fill-form {
    padding: 80px 60px 80px 30px;
  }
  
  .fill-form .info-post {
    margin-bottom: 20px;
  }
  
  .fill-form .icon {
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    border-radius: 23px;
    padding: 25px 15px;
  }
  
  .fill-form .icon img {
    max-width: 60px;
    display: block;
    margin: 0 auto;
  }
  
  .fill-form .icon a {
    margin-top: 15px;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: #2a2a2a;
    transition: all .3s;
    text-decoration: none;
  }
  
  .fill-form .icon:hover a {
    color: #82cc53;
  }
  
  form#contact input {
    width: 100%;
    height: 46px;
    background-color: transparent;
    border: 1px solid #eee;
    outline: none;
    font-size: 17px;
    font-weight: 300;
    color: #2a2a2a;
    padding: 0px 20px;
    border-radius: 23px;
    margin-top: 30px;
  }
  
  form#contact input::placeholder {
    color: black;
  }
  
  form#contact textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 200px;
    min-height: 200px;
    height: 200px;
    border-radius: 23px;
    background-color: transparent;
    border: 1px solid #eee;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    color: #2a2a2a;
    padding: 15px 20px;
    margin-top: 30px;
  }
  
  form#contact textarea::placeholder {
    color: #aaa;
  }
  
  form#contact button {
    display: inline-block;
    background-color: #fff;
    font-size: 15px;
    font-weight: 400;
    color: #82cc53;
    margin-top: 30px;
    width: 100%;
    text-transform: capitalize;
    padding: 12px 25px;
    border-radius: 23px;
    letter-spacing: 0.25px;
    border: 1px solid #82cc53;
    transition: all .3s;
    outline: none;
  }
  
  form#contact button:hover {
    background-color: #198754!important;
    color: #fff!important;
  }

footer{
    text-decoration: none;
}